.table2 {
  display: none;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .table1{
    display: none;
  }
  .table2{
    display: inline-table;
    margin-bottom: 5%;
  }
}

table tr, td{
  text-align: center;
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
}

.obert{
  background-color: green;
}

.escombra{
  background-color: orange;
}

.tancat{
  background-color: red;
}

.centre{
  text-align: center;
}

.butt{
  background-color: Transparent;
  border: 2px solid;
}
