<div class="container">
  <br>

  <div *ngIf=tram>
    <p class = 'centre'> <b>TRAM NUMERO: {{tram.num}}</b> ({{tram.name}})</p>
      <table width = "100%" class = "table1">
        <tr>
          <td class = 'obert' *ngIf = 'tram.state == "Obert"'> OBERT </td>
          <td *ngIf = 'tram.state != "Obert"' (click)="openTram()"> OBERT </td>
          <td class = 'escombra' *ngIf = 'tram.state == "Escombrant"'> ESCOMBRANT </td>
          <td *ngIf = 'tram.state != "Escombrant"' (click)="pasEscombra()"> ESCOMBRANT </td>
          <td class = 'tancat' *ngIf = 'tram.state == "Tancat"'> TANCAT </td>
          <td *ngIf = 'tram.state != "Tancat"' (click)="closeTram()"> TANCAT </td>
        </tr>
      </table>
      <table width = "100%">
        <tr>
          <td class = 'obert' *ngIf='tram.avituallament && tram.avituallament_rebut' width = "50%"> AVITUALLAMENT </td>
          <td class = 'tancat' *ngIf = 'tram.avituallament && !tram.avituallament_rebut' width = "50%"> AVITUALLAMENT </td>
          <td class = 'obert' *ngIf = 'tram.material_rebut'> MATERIAL </td>
          <td class = 'tancat' *ngIf = '!tram.material_rebut'> MATERIAL </td>
        </tr>
      </table>

      <table class = "table2" *ngIf=tram>
      </table>
      <p></p>
      <p></p>
      <p> <b> Incidències: </b> {{numIncidents}}</p>

      <table *ngIf = incidents>
        <tr>
          <th> CATEGORY </th>
          <th> DESCRIPCIO </th>
          <th> SOLVED </th>
          <th> COMMENTS </th>
        </tr>
        <tr *ngFor = 'let inc of incidents' width = '100%'>
          <td> {{inc.category}} </td>
          <td> {{inc.description}} </td>
          <td> {{inc.solved}} </td>
          <div *ngIf = inc.comments>
            <tr *ngFor = 'let comm of inc.comments'>
              <td> {{comm.username}}: {{comm.comment}}</td>
            </tr>
          </div>
        </tr>
      </table>
      <!-- <ul *ngIf = incidents type="square">
        <li *ngFor = 'let inc of incidents'>
          <ul type = "square">
            <li> <b> CATEGORY: </b> {{inc.category}} </li>
            <li> <b> DESCRIPCIO: </b> {{inc.description}} </li>
            <li> <b> SOLVED: </b> {{inc.solved}} </li>
            <li *ngIf='inc.comments'> <b> COMMENTARIS </b> </li>
            <ul *ngIf='inc.comments'>
              <li *ngFor = 'let comm of inc.comments'> {{comm.username}}: {{comm.comment}} </li>
            </ul>
          </ul>
        </li>
      </ul> -->
  </div>
</div>
