<header>
  <div class="container">
    <a routerLink="/" href="" class="logo"> <img src="logo_bml.png"> </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/tram" *ngIf="currentUser">Tram</a></li>
        <li><a href="#" routerLink="/admin">Admin</a></li>
        <li><a href="#" routerLink="/login" *ngIf="!currentUser">Log in</a></li>
        <li><a href="#" routerLink="/login" *ngIf="currentUser" (click)="logout()">Log out</a></li>
        <li *ngIf="currentUser"><a><strong>{{ currentUser.username }} </strong></a></li>
      </ul>
    </nav>
  </div>
</header>




<div class="container">

  <router-outlet></router-outlet>

</div>
