<header>
  <div class="container">
    <a routerLink="/" href="" class="logo"> <img src="assets/logo_bml.png"> </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Inici</a></li>
        <li><a href="#" routerLink="/map">Mapa</a></li>
        <li><a href="#" routerLink="/tram" *ngIf="currentUser && !isAdmin">Tram</a></li>
        <li><a href="#" routerLink="/admin" *ngIf="currentUser && isAdmin">Incidències</a></li>
        <li><a href="#" routerLink="/events" *ngIf="currentUser && isAdmin"> Events </a></li>
        <li><a href="#" routerLink="/login" *ngIf="!currentUser">Log in</a></li>
        <li><a href="#" routerLink="/login" *ngIf="currentUser" (click)="logout()">Log out</a></li>
        <li *ngIf="currentUser"><a><strong>{{ currentUser.username }} </strong></a></li>
      </ul>

      <select (change)="onNavigate($event.target.value)">
        <option value ="/"> Inici </option>
        <option value ="/map"> Mapa </option>
        <option value ="/tram" *ngIf="currentUser && !isAdmin"> Tram </option>
        <option value ="/admin" *ngIf="currentUser && isAdmin"> Incidències </option>
        <option value ="/events" *ngIf ="currentUser && isAdmin"> Events </option>
        <option value="/login" *ngIf="!currentUser"> Log In </option>
        <option value="logout" *ngIf="currentUser"> Log Out </option>
      </select>

    </nav>
  </div>
</header>


<div class="container2">
  <router-outlet></router-outlet>
</div>
