<div class = 'container'>
  <table width = 100% *ngIf = 'incidentsList'>
    <tr>
      <th> TRAM </th>
      <th> CATEGORY </th>
      <th> DESCRIPCIO </th>
      <th> SOLVED </th>
      <th> COMMENTS </th>
    </tr>
    <tr *ngFor = 'let incident of incidentsList'>
      <td> {{incident.tram_num}}
      <td> {{incident.category}} </td>
      <td> {{incident.description}} </td>
      <td *ngIf = 'incident.solved' class = "open"> {{incident.solved}} </td>
      <td *ngIf = '!incident.solved' class = "closed"> {{incident.solved}} </td>
      <div *ngIf = incident.comments>
        <tr *ngFor = 'let comm of incident.comments'>
          <td width = 100%> {{comm.username}}: {{comm.comment}}</td>
        </tr>
      </div>
    </tr>
  </table>
</div>
