//fer taula amb info
table{
  text-align: center;
  margin-top: 5%;
  margin-left: 0%
}

table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:hover {
  background: black;
  color: white;
}
