.table1{
  margin-left:5%;
}
//fer taula amb info
.table2 {
  display: none;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .table1{
    display: none;
  }
  .table2{
    display: inline-table;
  }
}
table{
  text-align: center;
  margin-top: 5%;
}

table th{
  border: 1px solid black;
}

table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;

  .yes{
    background-color: green;
  }
  .lleu {
    background-color: yellow;
  }

  .greu {
    background-color: orange;
  }

  .moltGreu {
    background-color: red;
  }

}

table tr:hover {
  background: black;
  color: white;
}
