  <table class = 'table1' *ngIf = 'incidentsList'>
    <tr>
      <th> TRAM </th>
      <th> CATEGORY </th>
      <th> DESCRIPCIO </th>
      <th> SOLVED </th>
      <th> COMMENTS </th>
    </tr>
    <tr *ngFor = 'let incident of incidentsList'>
      <td> {{incident.tram_num}}
      <td *ngIf = 'incident.category == "Lleu"' class = 'open'> {{incident.category}} </td>
      <td *ngIf = 'incident.category == "Greu"' class = 'escombra'> {{incident.category}} </td>
      <td *ngIf = 'incident.category == "Molt greu"' class = 'closed'> {{incident.category}} </td>
      <td> {{incident.description}} </td>
      <td *ngIf = 'incident.solved' class = 'open'> TRUE </td>
      <td *ngIf = '!incident.solved' class = 'closed'> FALSE </td>
      <div *ngIf = incident.comments>
        <tr *ngFor = 'let comm of incident.comments'>
          <td > {{comm.username}}: {{comm.comment}}</td>
        </tr>
      </div>
    </tr>
  </table>

  <table width = "100%" class = 'table2' *ngFor='let incident of incidentsList'>
    <tr>
      <th>TRAM</th>
      <td> {{incident.tram_num}} </td>
    </tr>
    <tr>
      <th> CATEGORY </th>
      <td *ngIf = 'incident.category == "Lleu"' class = 'open'> {{incident.category}} </td>
      <td *ngIf = 'incident.category == "Greu"' class = 'escombra'> {{incident.category}} </td>
      <td *ngIf = 'incident.category == "Molt Greu"' class = 'closed'> {{incident.category}} </td>
    </tr>
    <tr>
      <th>DESCRIPCIO</th>
      <td> {{incident.description}} </td>
    </tr>
    <tr>
      <th> SOLVED </th>
      <td *ngIf = 'incident.solved' class = 'open'> TRUE </td>
      <td *ngIf = '!incident.solved' class = 'closed'> FALSE </td>
    </tr>
    <tr>
      <td colspan="2"> <b> COMMENTS </b> </td>
    </tr>
    <tr *ngFor = 'let comm of incident.comments'>
      <td colspan="2"> {{comm.username}}: {{comm.comment}} </td>
    </tr>
  </table>
