//fer taula amb info
table{
  text-align: center;
  margin-top: 5%;
  margin-left: 0%
}

table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;


  .open {
    background-color: green;
  }

  .escombra { 
    background-color: yellow;
  }

  .closed {
    background-color: red;
  }

}

table tr:hover {
  background: black;
  color: white;
}
