<div class ="container">
  <table class = "table1" *ngIf='usersList'>
    <tr>
      <th> NUM </th>
      <th> TRAM </th>
      <th> ESTAT </th>
      <th> MATERIAL REBUT?</th>
      <th> AVIT. REBUT? </th>
      <th> INCIDÈNCIES </th>
      <th *ngIf = 'isAdmin'> ADMIN ONLY</th>
    </tr>
    <tr *ngFor='let tram of tramsList'>
      <td> {{ tram.num }} </td>
      <td> {{ tram.name }} </td>
      <td  class = 'open' *ngIf = 'tram.state == "Obert"'> {{ tram.state }} </td>
      <td  class = 'escombra' *ngIf = 'tram.state == "Escombrant"'> {{ tram.state }} </td>
      <td  class = 'closed' *ngIf = 'tram.state == "Tancat"'> {{ tram.state }} </td>
      <td> {{ tram.material_rebut }} </td>
      <td *ngIf = 'tram.avituallament'> {{ tram.avituallament_rebut }} </td>
      <td *ngIf = '!tram.avituallament'> {{ tram.avituallament}} </td>
      <td > {{ tram.incidents.length}} </td>
      <td *ngIf = 'isAdmin '><button (click)="navigateToTram(tram.num)">Veure</button></td>
    </tr>
  </table>

  <div *ngIf ='usersList'>
    <table class = "table2" *ngFor='let tram of tramsList' width = "100%">
      <tr>
        <th> NUM </th>
        <td> {{tram.num}} </td>
      </tr>
      <tr>
        <th> TRAM </th>
        <td>{{tram.name}}</td>
      </tr>
      <tr>
        <th> ESTAT </th>
        <td  class = 'open' *ngIf = 'tram.state == "Obert"'> {{ tram.state }} </td>
        <td  class = 'escombra' *ngIf = 'tram.state == "Escombrant"'> {{ tram.state }} </td>
        <td  class = 'closed' *ngIf = 'tram.state == "Tancat"'> {{ tram.state }} </td>
      </tr>
      <tr>
        <th> MATERIAL? </th>
        <td> {{ tram.material_rebut }} </td>
      </tr>
      <tr>
        <th> AVIT.? </th>
        <td *ngIf = 'tram.avituallament'> {{ tram.avituallament_rebut }} </td>
        <td *ngIf = '!tram.avituallament'> {{ tram.avituallament}} </td>
      </tr>
      <tr>
        <th> INCIDÈNCIES </th>
        <td > {{ tram.incidents.length}} </td>
      </tr>
      <tr *ngIf = 'isAdmin'>
        <th> ADMIN </th>
        <td *ngIf = 'isAdmin '><button (click)="navigateToTram(tram.num)">Veure</button></td>
      </tr>
    </table>
  </div>
</div>
