<div class ="container">
  <table class = "table1" *ngIf='usersList'>
    <tr>
      <th> NUM </th>
      <th> TRAM </th>
      <th> ESTAT </th>
      <th> MATERIAL REBUT?</th>
      <th> AVIT. REBUT? </th>
      <th> INCIDÈNCIES </th>
      <th *ngIf = 'isAdmin'> ADMIN ONLY</th>
    </tr>
    <tr *ngFor='let tram of tramsList'>
      <td> {{ tram.num }} </td>
      <td> {{ tram.name }} </td>
      <td  class = 'open' *ngIf = 'tram.state == "Obert"'> {{ tram.state }} </td>
      <td  class = 'escombra' *ngIf = 'tram.state == "Escombrant"'> {{ tram.state }} </td>
      <td  class = 'closed' *ngIf = 'tram.state == "Tancat"'> {{ tram.state }} </td>
      <td > {{ tram.material_rebut }} </td>
      <td *ngIf = 'tram.avituallament'> {{ tram.avituallament_rebut }} </td>
      <td *ngIf = '!tram.avituallament'> {{ tram.avituallament}} </td>
      <td > {{ tram.incidents.length}} </td>
      <td *ngIf = 'isAdmin '><button (click)="navigateToTram(tram.num)">Veure</button></td>
    </tr>
  </table>

  <div *ngIf ='usersList'>
    <table class = "table2" *ngFor='let user of usersList'>
      <tr>
        <th> NOM COORDINADOR </th>
        <td> {{user.username}} </td>
      </tr>
      <tr *ngIf = 'tramsList'>
        <th> TRAM </th>
        <td> {{user.tram_num}} </td>
      </tr>
      <tr *ngIf = 'tramsList'>
        <th> ESTAT </th>
        <div *ngFor = 'let tram of tramsList'>
          <td  class = 'open' *ngIf = 'tram.num == user.tram_num && tram.state == "Obert"'> {{ tram.state }} </td>
          <td  class = 'escombra' *ngIf = 'tram.num == user.tram_num && tram.state == "Escombrant"'> {{ tram.state }} </td>
          <td  class = 'closed' *ngIf = 'tram.num == user.tram_num && tram.state == "Tancat"'> {{ tram.state }} </td>
        </div>
      </tr>
      <tr>
        <th> PERMIS </th>
        <td *ngIf = 'user.permissionLevel == 1'> ADMIN </td>
        <td *ngIf = 'user.permissionLevel == 2048'> COORDI </td>
      </tr>
    </table>
  </div>
</div>
